<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <style>


    </style>
<body>
    
    <center>
        <br>
        <br>
        <h1>hi there <i class="fa fa-hand-paper-o" style="font-size:36px"></i> </h1>
        <img src="/public/nnn.jpg" alt="nature" width="50%" height="60%">

 </center>
</body>



</html>